.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.page-item
{
  list-style: none;
}
.example
{
  position: relative;
  margin-bottom: 50px;
  width: 100%;
}
.pagination
{
   position: absolute;
   right: 10%;
   padding-bottom: 10px;
}
.pagination button
{
  cursor: pointer;
}
.active 
{
  background-color: #e76f3d;
  color: #fff;
}